main {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  .main-header {
    display: flex;
    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }
  .products {
    display: flex;
    flex-direction: row;
    /* Centers along the main axis determined by flex-direction */
    justify-content: center;
    /* Centers along the opposite axis */
    align-items: center;
    width: 90%;
    /* Uses the height of the viewport */
    height: 100vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
  }
  /* Added some padding and styling for the photos */
.photo {
    padding: 20px 10px;
    border: 2px solid #bfbfbf;
    background-color: #fff;
  }
  
  /* We can use rotate to rotate the photo to the left or right */
  .rotate {
    transform: rotate(7deg);
  }
  
  /* We can use scale to stretch the photo vertically or horizontally */
  .scale {
    transform: scale(1.5, 1);
  }
  
  /* We can use skew to skew the photo to the left or right */
  .skew {
    transform: skew(15deg);
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  article {
    border-bottom: 1px solid #d8a47f;
  }
  /* The user's cursor is positioned over the element */
button:hover {
    background-color: #772014;
    color: #fff;
  }
  
  /* The user is actively pressing down on the element */
  button:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
  }
  
  /* The element is currently in focus, either by tabbing to or clicking on it */
  button:focus {
    outline: none;
    border-color: #8ac4ff;
  }
  