*   {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large; 
    background-color: rgb(212, 242, 222);
    text-align: center;
}

* header {
    line-height: 200px;
    font-size: 3em;
    font-weight: bolder;
    color: Black;
    position: relative;
}

p::after {
    display: content;
    content:"Friends";
    color: red;
    text-decoration: underline;
    animation:alternate;
}

p::after {
    content:" to my portfolio";
    color: red;
    text-decoration: underline;
    animation: alternate;
}

h1::after {
    size: 300px;
}

img {
    display: block;
    /* justify: left; */
    width: 700px;
    height: 450px;
    padding: 20px 10px;
    border: 2px solid #bfbfbf;
    background-color: #fff;
}

main {
    display: flex;
    flex: grid;
  }
.erasedots {
    list-style: none ;
    
}
